body {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 0.813em;
  line-height: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'ABeeZee', sans-serif;
  font-weight: normal;
  font-style: normal;
}

.top-link ul.links li a {
  font-size: 17px;
  text-transform: lowercase;
}
@media only screen and (max-width: 480px) and (min-width: 320px) {
  .top-link ul.links li a {
    font-size: 17px !important;
    white-space: inherit;
  }
}
@media only screen and (max-width: 767px) and (min-width: 480px) {
  .top-link ul.links li a {
    display: inherit !important;
  }
}

.main.container, .main-container .container {
  background-color: #ffffff;
}

.product-view .std p {
  font-size: 14px !important;
  font-weight: 400;
}

.footer-container {
  background-color: #2a2a2a;
}

.page label, .page input.input-text, .page button, .page select, .page textarea {
  font-size: 110%;
}

.navigation-colors-bar {
  background: url(/images/backgrounds/bar.png);
  background-color: #9d0525;
  height: 20px;
  margin: 0;
  width: 100%;
}

.meta-navigation {
  position: absolute;
  width: 100%;
  z-index: 1;
  background: -webkit-linear-gradient(right, #ffffff, #ffffff, #ffffff, #ffffff, transparent);
  background: linear-gradient(to left, #ffffff, #ffffff, #ffffff, #ffffff, transparent);
  background-size: 50% 1px;
  background-position: bottom right;
  background-repeat: no-repeat;
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .meta-navigation {
    background-size: 70% 1px;
  }
}
@media only screen and (max-width: 480px) {
  .meta-navigation {
    background: none;
    background-size: 100% 1px;
    border-bottom: 1px solid #ffffff;
  }
}
.meta-navigation .row {
  float: right;
}
.meta-navigation ul li {
  width: auto;
  float: left;
}
.meta-navigation ul li:not(:last-child) {
  background: -webkit-linear-gradient(#ffffff, #ffffff);
  background: linear-gradient(#ffffff, #ffffff);
  background-size: 1px 50%;
  background-position: bottom right;
  background-repeat: no-repeat;
}
.meta-navigation ul li a {
  font-size: 17px;
  text-transform: lowercase;
  display: block;
  padding: 4px 30px;
  color: #404040;
}
.meta-navigation ul li a:hover, .meta-navigation ul li a:active {
  color: #9d0525;
}
@media only screen and (max-width: 480px) {
  .meta-navigation .row {
    float: none;
  }
  .meta-navigation ul li {
    width: 33%;
  }
}

.mt-top-menu {
  background-image: url("/images/backgrounds/light_stone.jpg") !important;
  background-repeat: repeat;
  height: 108px;
  margin-top: 0px !important;
  margin-bottom: 7px;
  z-index: auto;
  padding-top: 28px;
}
.mt-top-menu .quick-access {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.mt-top-menu .quick-access a {
  color: #404040;
  border-style: none;
  font-weight: 600;
}
.mt-top-menu .quick-access ul.links li > a[title="Anmelden"] {
  display: none !important;
}
.mt-top-menu .quick-access ul.links li:hover {
  background-color: transparent !important;
}
.mt-top-menu a.logo {
  right: initial !important;
  left: 20px !important;
  bottom: -40px !important;
  top: inherit !important;
}
.mt-top-menu .logo-stamp-hotel-gasthof-roessle {
  height: 132px;
  width: 260px;
  background: url(/images/logos/stamp_hotel_gasthof_roessle.png);
}

@media only screen and (min-width: 768px) {
  .mt-top-menu a.logo {
    position: absolute;
    right: 68.7% !important;
    top: -9px;
    z-index: 1;
  }
}
@media only screen and (min-width: 245px) and (max-width: 767px) {
  .header {
    display: none;
  }
}
.slider .hero-1 {
  height: 400px;
  background-color: #9d0525;
}
.slider .hero-1 .hero-1-txt {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 30px;
  margin-left: 30px;
  text-transform: lowercase;
  color: #ffffff;
  font-size: 20px;
  text-align: right;
}
@media only screen and (max-width: 480px) {
  .slider .hero-1 .hero-1-txt {
    font-size: 17px;
  }
}
.slider .hero-2 {
  height: 400px;
  background: url("/images/hero-images/cavallino.jpg") no-repeat center center;
  background-size: cover;
}
.slider [class*="span"] {
  margin: 0;
}
.slider .span4 {
  width: 33.33334%;
}
.slider .span8 {
  width: 66.66667%;
}
@media only screen and (min-width: 245px) and (max-width: 767px) {
  .slider .span4 {
    float: left;
    width: 40%;
  }
  .slider .span8 {
    float: left;
    width: 60%;
  }
}
.slider > img {
  display: none;
}

.product-geschenkgutschein .product-name {
  display: none;
}
.product-geschenkgutschein .product-img-box {
  display: none !important;
}
.product-geschenkgutschein .description .std p strong {
  font-size: 22px;
  margin-bottom: 40px;
  display: block;
}

.about-us {
  display: none;
}

.mt-footer-static .payment-methods .footer-static-content h3 {
  padding: 20px 0 0 0;
}

.mt-footer-static-container-top {
  display: none;
}

.mt-footer-static-container h1, .mt-footer-static-container h2, .mt-footer-static-container h3, .mt-footer-static-container h4, .mt-footer-static-container h5, .mt-footer-static-container h6, .mt-footer-static-container p, .mt-footer-static-container span, .mt-footer-static-container strong, .mt-footer-static-container label, .mt-footer-static-container, .mt-footer-static-container-bottom .mt-footer-static, .footer-static-title h1, .footer-static-title h2, .footer-static-title h3, .footer-static-title h4, .footer-static-title h5, .footer-static-title h6 {
  font-family: 'Alegreya Sans', sans-serif !important;
}

.mt-copyright {
  font-family: 'Alegreya Sans', sans-serif !important;
}

/*# sourceMappingURL=gurado-prefixed.css.map */